.exam-view {
    margin: auto;
    width: 50% !important;
    height: 100%;
    padding: 10px
}

.submit-button {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 26px;
    min-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: auto;
    border: 2px solid #156d9a;
    color: #156d9a;
    border-radius: 1.5rem;
    transition: color .2s cubic-bezier(0,0,.2,1),background .2s cubic-bezier(0,0,.2,1),border .2s cubic-bezier(0,0,.2,1);
    appearance: none;
    -webkit-appearance: none;
    margin: 0 auto;
}

.submit-button:hover {
    color: #fff;
    text-decoration: none;
    background: #063358;
    border-color: #063358;
    outline: none
}

.center-align-items {
    align-items: center;
}

.table-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-row .cell {
    flex: 1;
    padding: 0px;
    text-align: center;
    border: 1px solid #ddd;
}

.fixed-width-span {
    width: 20%;
}

.fixed-index-width-span {
    width: 1%;
}

span {
    box-sizing: border-box;  /* Jeżeli jest już obecne, nie trzeba dodawać */
    display: inline-block;
}

vaadin-text-field, vaadin-combo-box {
    --lumo-border-radius-m: 1.5em;
    width: 30%;
}